* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: grey;
    font-size: calc(1em + .1vw);
}

nav {
    padding: .5em 1em;
    box-shadow: 2px 2px 5px rgb(204, 199, 199);
    margin-bottom: 5vh;
}

.hero {
    margin-bottom: 5vh;
}

.hero img, .hero-text{
    display: block;
    width: 80vw;
    height: auto;
    margin: .5em auto;
}

.hero-text {
    margin-top: 1.5em;
}

.carousel-section {
    /* border: 2px solid red; */
    padding: .3em;
}

.card {
    /* border: 2px solid blue; */
    width: 75vw;
    margin: .5em auto 2em;
}

.card-image {
    overflow: hidden;
    object-fit: top center;
    margin-bottom: 3vh;
    /* border: 2px solid purple; */
}

.user-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    /* border: 2px solid gold; */
}

.user-info img {
    width: 10px;
    aspect-ratio: 1 / 1;
}

@media (min-width : 768px) {
    
    body {
        font-size: calc(1em + .6vw);
    }
    
    .hero img{
        width: 60vw;
    }

    .carousel-section {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .card {
        width: 30%;
    }
}