* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: grey;
    font-size: calc(1em + 0.1vw);
}

img {
    pointer-events: none;
}

nav {
    padding: 0.5em 1em;
    box-shadow: 2px 2px 5px rgb(204, 199, 199);
    margin-bottom: 5vh;
}

.hero {
    margin-bottom: 5vh;
}

.hero img,
.hero-text {
    display: block;
    width: 80vw;
    height: auto;
    margin: 0.5em auto;
}

.hero-text {
    margin-top: 1.5em;
    font-size: larger;
}

.card {
    width: 65vw;
    margin: 0.5em auto 2em;
    padding: .5em;
}

.card-image {
    overflow: hidden;
    margin-bottom: 3vh;
}

.user-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    border-radius: 1em;
}

.user-info {
    width: 90%;
    margin: auto;
}

.user-info img {
    width: 10px;
    aspect-ratio: 1 / 1;
}

.user-info p {
    margin-block: 0.2em;
}

/* IMAGES ARE GETTING TOO LARGE AT THIS SCREEN SIZE
@media (min-width: 425px) {

} */

@media (min-width: 768px) {
    body {
        font-size: calc(1em + 0.3vw);
    }

    .hero img {
        width: 60vw;
    }

    .carousel-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 28vw;
    }
}

/* @media (min-width: 1024px) {

} */